<div class="div-block-167">
                <div class="div-block-168">
                  <h3 class="heading-81">{{ texts.12de48b }}</h3>
                  <div class="div-block-189"></div>
                  <div class="div-block-174"><img data-sizes="[{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" loading="lazy" src="{{ images.317f733b.url }}" alt="{{ images.317f733b.alt | trim | escape }}" class="image-26"></div>
                </div>
                <div class="div-block-211">
                  <div class="rich-text-block-10 w-richtext">
                    <p>{{ texts.3d12d6f4 }}</p>
                  </div>
                </div>
              </div>