<div data-w-id="14b5265c-329e-c97a-422e-389a338821b2" class="steps">
              <div class="div-block-205">
                <div class="text-block-106">{{ texts.34 }}</div>
                <div class="div-block-204">
                  <div class="div-block-203"></div>
                  <div class="div-block-202">
                    <div class="div-block-206 two"></div>
                  </div>
                </div>
                <div class="text-block-105">{{ texts.7d97ae35 }}</div>
              </div>
              <p class="paragraph-5">{{ texts.-377de348 }}</p>
            </div>